# Shared
INTERNAL_SYNC_TOKEN="replace_me"

# Discord bot
DISCORD_BOT_TOKEN="replace_me"

# jaypventures Discord
DISCORD_GUILD_ID_CREATOR="replace_me"
DISCORD_ROLE_CREATOR_COMMUNITY_ID="replace_me"
DISCORD_ROLE_CREATOR_VIP_ID="replace_me"

# jaypVLabs Discord
DISCORD_GUILD_ID_LABS="replace_me"
DISCORD_ROLE_LABS_MEMBER_ID="replace_me"
DISCORD_ROLE_LABS_RESEARCHER_ID="replace_me"
DISCORD_ROLE_LABS_STUDENT_ID="replace_me"

# Microsoft Teams / JayPVentures LLC
MS_TENANT_ID="replace_me"
MS_CLIENT_ID="replace_me"
MS_CLIENT_SECRET="replace_me"
MS_TEAM_ID_LLC="replace_me"
MS_GROUP_ID_LLC_CLIENTS="replace_me"
MS_GROUP_ID_LLC_PARTNERS="replace_me"
MS_GROUP_ID_LLC_ENTERPRISE="replace_me"

LOG_LEVEL="info"
